/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* body {
  background-color: rgb(246, 231, 203);
} */

/* needs to be import to specific components to work, certian sytling for specific component, create new css file and then import it, will override global css for that specific component  */

body{
  background-color: #FEF1E6;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headers {
  text-align: center;
  color: #FFB085;
  font-family: monospace;
}

.button {
  color: #90AACB !important;
  border: 1px solid #90AACB !important;
  text-align: center !important;
  text-transform: lowercase !important;
  font-family: cursive !important; 
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headers {
  text-align: center;
  color: #FFB085;
  font-family: monospace;
}

.icon-edit {
  color: #90AACB;
}

.icon-trash {
  color: #F9D5A7;
}
