
.headers {
    text-align: center;
    color: #FFB085;
    font-family: monospace !important;
}

.button {
    color: #90AACB !important;
    border: 1px solid #90AACB !important;
    text-align: center !important;
    text-transform: lowercase !important;
    font-family: cursive !important; 
}
  
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

