.header-crbth {
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    text-align: center;
    color: #FFB085;
    font-family: cursive !important;
    font-weight: bold !important;
}

.button {
    color: #444444 !important;
    font-weight: bolder !important;
    border: 2px solid #90AACB !important;
    text-align: center !important;
    text-transform: lowercase !important;
    font-family: cursive !important; 
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.button:hover {
    border: 2px solid #F9D5A7 !important;
    border-width: bolder !important;
}
  
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rose-icon-crbth {
    color: #F9D5A7 !important;
    margin-right: 2px;
 }
  