p {
    color: #444444;
    font-family: monospace;
}

.header-lle {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-align: center;
  color: #FFB085;
  font-family: cursive !important;
}

.icon-edit {
  color: #90AACB;
}

.icon-trash {
  color: #F9D5A7;
} 
