.login {
    font-family: cursive !important;
    font-size:larger !important;
    color: #444444;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.input-box .MuiOutlinedInput-notchedOutline {
    border-color: #444444 !important;
}

.input-box .MuiInputLabel-outlined {
    color: #444444 !important;
    font-family: cursive;
}

.input-box .MuiInputBase-input {
    color: #FFB085 !important;
    font-family: monospace;
}

.input-box {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    display: block !important;
}

.labels {
    font-family: cursive;
    color: #444444;
}

.login-button, .create-account-button {
    color: #90AACB !important;
    border: 1px solid #90AACB !important;
    text-align: center !important;
    text-transform: lowercase !important;
    font-family: cursive !important; 
}

.login-button:hover, .create-account-button:hover {
    border: 2px solid #F9D5A7 !important;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
.login-box {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
  

.error-message {
    color:#FFB085;
}

.create-user-message {
    color:#FFB085;
}
